In [15]:
import os

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# from sklearn.metrics import precision_recall_curve, auc

# import missingno as msno
from IPython.display import display, HTML

import warnings
warnings.filterwarnings('ignore')

# load custom functions
# os.chdir('C:/Users/kyleg/Entity-Matching-in-Online-Retail')
# #  os.chdir('H:/kgilde/Entity-Matching-in-Online-Retail')
# exec(open("utility_functions.py").read())

HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')

# source: https://stackoverflow.com/a/28073228/4463701

In [5]:
raw_df = pd.read_csv('https://raw.githubusercontent.com/curran/data/gh-pages/airbnb/airbnb_session_data.txt',
                    sep='|')

In [14]:
raw_df.info()
raw_df.describe()
# raw_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7756 entries, 0 to 7755
Data columns (total 21 columns):
id_visitor                   7756 non-null object
id_session                   7756 non-null object
dim_session_number           7756 non-null int64
dim_user_agent               7537 non-null object
dim_device_app_combo         7756 non-null object
ds                           7756 non-null object
ts_min                       7756 non-null object
ts_max                       7756 non-null object
did_search                   7756 non-null int64
sent_message                 7756 non-null int64
sent_booking_request         7756 non-null int64
next_id_session              7126 non-null object
next_dim_session_number      7126 non-null float64
next_dim_user_agent          6927 non-null object
next_dim_device_app_combo    7126 non-null object
next_ds                      7126 non-null object
next_ts_min                  7126 non-null object
next_ts_max                  7126 non-null object
next_did_search              7126 non-null float64
next_sent_message            7126 non-null float64
next_sent_booking_request    7126 non-null float64
dtypes: float64(4), int64(4), object(13)
memory usage: 1.2+ MB

,dim_session_number,did_search,sent_message,sent_booking_request,next_dim_session_number,next_did_search,next_sent_message,next_sent_booking_request
count,7756.000000,7756.000000,7756.000000,7756.000000,7126.000000,7126.000000,7126.000000,7126.000000
mean,98.091671,0.159360,0.164905,0.018695,106.675414,0.145804,0.175554,0.019366
std,131.533939,0.366036,0.371118,0.135455,133.879600,0.352934,0.380467,0.137816
min,1.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000
25%,11.000000,0.000000,0.000000,0.000000,17.000000,0.000000,0.000000,0.000000
50%,46.000000,0.000000,0.000000,0.000000,56.000000,0.000000,0.000000,0.000000
75%,128.000000,0.000000,0.000000,0.000000,140.750000,0.000000,0.000000,0.000000
max,702.000000,1.000000,1.000000,1.000000,702.000000,1.000000,1.000000,1.000000